<div class="col-sm-6 offset-sm-3">
    {{ form_start(form, {'attr': {'id': 'form_ajax'}}) }}
    <div class="form-group">
        {{ form_label(form.codeCouleur) }}
        {{ form_widget(form.codeCouleur) }}
    </div>

    <div class="row mt-4 mb-4">
        {{ form_label(form.bien) }}
    </div>
    <div class="row">
        {% for child in form.bien %}
            <div class="col-sm-4">
                <label class="checkbox-inline">
                    {{ form_widget(child) }}
                    <span class="checkbox-decorator">
                        <span class="check"></span>
                    </span>
                    {{ form_label(child) }}
                </label>
            </div>
        {% endfor %}
    </div>

    <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Annuler</button>
    <button id="modal_ajax_submit" type="submit" class="btn btn-raised btn-primary">valider</button>

    {{ form_end(form) }}
</div>

{% block javascripts %}
    <script src="{{ asset('Js/ajax/chantier/coloris_form.js') }}"></script>
{% endblock %}