{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supplementparquet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplementParquet.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ supplementParquet.designation }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ supplementParquet.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('supplementparquet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('supplementparquet_edit', { 'id': supplementParquet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
