{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chantiers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Type</th>
                <th>Nombrebiens</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td><a href="{{ path('chantier_show', { 'id': chantier.id }) }}">{{ chantier.id }}</a></td>
                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.adresse }}</td>
                <td>{{ chantier.type }}</td>
                <td>{{ chantier.nombreBiens }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chantier_show', { 'id': chantier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chantier_edit', { 'id': chantier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chantier_new') }}">Create a new chantier</a>
        </li>
    </ul>
{% endblock %}
