{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chantier/index.css') }}">
{% endblock %}

{% block title %}
    Liste des chantiers
{% endblock %}

{% block body %}
    <div id="chantiers-list" class="text-white text-center mt-5">
        <div class="row"> {# Row #}
            <div class="col">
                <span class="btn-group-lg">
                  <a href="{{ path('chantier_new') }}">
                      <button type="button" class="btn btn-secondary bmd-btn-fab" data-toggle="tooltip" data-placement="top" title="Ajouter un chantier">
                        <i class="material-icons">add circle</i>
                      </button>
                  </a>
                </span>
            </div>
            <div class="col-xl-4 col-sm-3 col-md-4 offset-xl-4 offset-sm-8 offset-md-4">
                <div class="bmd-form-group bmd-collapse-inline pull-sm-right">
                    <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
                        <i class="material-icons md-36" data-toggle="tooltip" data-placement="top" title="Recherchez un chantier">search</i>
                    </button>
                    <span id="collapse-search" class="collapse">
                        <input class="form-control text-white search ft-24 text-center" type="text" id="search" placeholder="Recherchez un chantier">
                    </span>
                </div>
            </div>
        </div> {# Row #}

        <div class="row mt-5 bg-secondary font-weight-bold text-uppercase"> {# Row #}
            <div class="col-xl-1 col-sm-1 d-none d-md-block"><i class="material-icons md-24">warning</i></div>
            <div class="col-xl-2 col-sm-2 d-none d-md-block">Nom</div>
            <div class="col-xl-3 col-sm-3 d-none d-md-block">Adresse</div>
            <div class="col-xl-2 col-sm-2 d-none d-md-block">Type</div>
            <div class="col-xl-1 col-sm-1 d-none d-md-block">Biens</div>
            <div class="col-xl-1 col-sm-1 d-none d-md-block"><i class="material-icons md-24">sync</i></div>
            <div class="col-xl-1 col-sm-1 d-none d-md-block"><i class="material-icons md-24 align-middle">message</i></div>
            <div class="col-xl-1 col-sm-1 d-none d-md-block"><i class="material-icons md-24 align-middle">delete</i></div>
        </div> {# Row #}

        <div class="list">
            {% for chantier in chantiers %}
                <a class="link-unstyled" href="{{ path('chantier_show', {'id': chantier.id}) }}">
                    <div class="row bg-secondary mt-2 hover-chantier">
                        <div class="col-xl-1 col-sm-1"><p><i class="material-icons d-block d-sm-none mx-auto">warnings</i>12</p></div>
                        <div class="col-xl-2 col-sm-2"><p class="chantier-nom"><i class="material-icons d-block d-sm-none mx-auto">home</i>{{ chantier.nom }}</p></div>
                        <div class="col-xl-3 col-sm-3"><p><i class="material-icons d-block d-sm-none mx-auto">my_location</i>{{ chantier.adresse }}</p></div>
                        <div class="col-xl-2 col-sm-2"><p class="chantier-type"><i class="material-icons d-block d-sm-none mx-auto">merge_type</i>{{ chantier.type }}</p></div>
                        <div class="col-xl-1 col-sm-1"><p><i class="material-icons d-block d-sm-none mx-auto">location_city</i>{{ chantier.nombreBiens }}</p></div>
                        <div class="col-xl-1 col-sm-1">
                            <p>
                                <i class="material-icons d-block d-sm-none mx-auto">sync</i>
                                {% if chantier.pourcentage == null %}
                                    0%
                                {% else %}
                                    {{ chantier.pourcentage }}%
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-xl-1 col-sm-1"><p><i class="material-icons d-block d-sm-none mx-auto">message</i>{{ chantier.commentaires|length }}</p></div>
                        <div class="col-xl-1 col-sm-1 deleting-btn" data-toggle="modal" data-chantier="{{ chantier.nom }}" data-route="{{ path('chantier_remove', {'id': chantier.id }) }}" data-target="#exampleModalCenter"><p><i class="material-icons mx-auto">delete_outline</i></p></div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="row mt-5 justify-content-center">
            <ul class="pagination"></ul>
        </div>
    </div>

{% endblock %}

{% block modal %}{% include('modal/delete_chantier.html.twig') %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/list.js/dist/list.js') }}"></script>
    <script src="{{ asset('Js/chantier/index.js') }}"></script>
{% endblock %}
