{% extends 'base.html.twig' %}

{% block title %}
    Nouveau chantier
{% endblock %}

{% block body %}
    <h1>Chantier creation</h1>

    {{ form_start(form) }}

        <div>
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse) }}
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            {{ form_label(form.nombreBiens) }}
            {{ form_widget(form.nombreBiens) }}
        </div>

    <hr>

        <div>
            {{ form_row(form.messageTerrasse) }}
        </div>
        <div id="terrasse">
            {{ form_row(form.supplementTerrasse) }}
            <ul class="suppTerrasse" data-prototype="{{ form_widget(form.ajoutManuelSuppTerrasses.vars.prototype)|e('html_attr') }}">

                {% for suppTerrasse in form.ajoutManuelSuppTerrasses %}
                    <li>
                        {{ form_label(suppTerrasse) }}
                        {{ form_widget(suppTerrasse) }}
                    </li>
                {% endfor %}

            </ul>
        </div>

    <hr>
        <div>
            {{ form_row(form.messageParquet) }}
        </div>
        <div id="parquet">
            {{ form_row(form.supplementParquet) }}
            <ul class="tags" data-prototype="{{ form_widget(form.ajoutManuelSuppParquets.vars.prototype)|e('html_attr') }}">

                {% for suppParquet in form.ajoutManuelSuppParquets %}
                    <li>
                        {{ form_label(suppParquet) }}
                        {{ form_widget(suppParquet) }}
                    </li>
                {% endfor %}

            </ul>
        </div>

    <hr>

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('chantier_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">

    </script>
    <script src="{{ asset('Js/creation_chantier.js') }}"></script>
{% endblock %}
