{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chantier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chantier.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chantier.adresse }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ chantier.type }}</td>
            </tr>
            <tr>
                <th>Nombrebiens</th>
                <td>{{ chantier.nombreBiens }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chantier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chantier_edit', { 'id': chantier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
