{% extends 'base.html.twig' %}

{% block title %}
    Chantier : {{ chantier.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chantier/show.css') }}">
{% endblock %}

{% block body %}

    {% set nombreSuppTerrasse = 0 %}
    {% set nombreSuppParquet = 0 %}

    {% set colspanTerrasse = 0 %}
    {% set colspanParquet = 0 %}

    {% for bien in chantier.biens %}
        {% set nombreSuppTerrasse = bien.supplementTerrasses|length %}
        {% set colspanTerrasse = 4 + nombreSuppTerrasse %}
        {% set nombreSuppParquet = bien.supplementParquets|length %}
        {% set colspanParquet = 7 + nombreSuppParquet %}
    {% endfor %}

    {% set pourcentTd  = 100 / (colspanParquet + colspanTerrasse + 1) %}

    {% set propriete_parquet = 5 %}
    {% set propriete_supp_parquet = nombreSuppParquet %}
    {% set total_propriete_parquet = propriete_parquet + propriete_supp_parquet %}
    {% set pourcentage_par_propriete = (100 / total_propriete_parquet)|round(0, 'ceil') %}
    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}


    {{ form_start(form) }}

    <div id="replace" data-replace="{{ currentPath }}" type="hidden"></div>

    <div class="dropdown dropdownScrollToTop ">
        <button class="btn btn-info bmd-btn-fab dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
        </button>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
            {% if chantier.type == 'Parquet' or chantier.type == 'Terrasse / Parquet' %}
                <button class="dropdown-item btn text-dark" id="button_url_coloris" data-to="{{ path('ajout_coloris') }}" data-path="{{ path('get_form_coloris', {'id': chantier.id} ) }}" type="button" data-toggle="modal" data-target="#modal_ajout_coloris">
                    Ajouter un coloris global
                </button>
            {% endif %}
            <button id="button_url_add_bien" class="dropdown-item btn text-dark" data-to="{{ path('send_form_bien', {'id': chantier.id}) }}" data-path="{{ path('get_form_bien', {'id': chantier.id} ) }}" type="button" data-toggle="modal" data-target="#modal_ajout_bien">Ajouter des biens</button>
            <button id="button_url_suppression_bien" data-path="{{ path('get_form_suppression_bien', {'id': chantier.id}) }}" data-to="{{ path('send_form_delete_bien', {'id': chantier.id}) }}" class="dropdown-item btn text-dark" type="button" data-toggle="modal" data-target="#modal_suppression_bien">Supprimer des biens</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-3">
            <div class="card bg-darkin border border-white rounded-recapitulatif">
                <div class="card-body text-white">
                    <h5 class="card-title">Type :
                        <br>{{ chantier.type }}
                    </h5>
                    <p class="card-text">Ce chantier contient {{ chantier.nombreBiens }} bien{% if chantier.nombreBiens > 1 %}s{% endif %}</p>
                    <div class="cercle-pourcentage-global bg-info">
                        <span class="{% if chantier.pourcentage > 99 %}texte-pourcentage-global-supp-100{% elseif chantier.pourcentage < 99 %}texte-pourcentage-global{% endif %}">
                            {% if chantier.pourcentage == null %}
                                0%
                            {% else %}
                                {{ chantier.pourcentage }}%
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
                <span class="bmd-help">Nom du Chantier.</span>
            </div>
            <div class="form-group">
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse) }}
                <span class="bmd-help">Adresse du Chantier (Entrez le code postal pour être plus précis).</span>
            </div>
        </div>
        <div class="col-sm-4">
            <a data-toggle="tooltip" data-placement="top" title="Lien vers google map" class="btn btn-info bmd-btn-fab" target="_blank" href="{{ chantier.linkAdress }}">
                <i class="material-icons md-24">add_location</i>
            </a>
        </div>
        <div class="col-sm-4 offset-sm-3">
        </div>
    </div>

    <div class="row mt-5">
        {% for formulaire in form.biens.children %}
            <div class="col-12 col-md-6 col-lg-4 col-modifier">
                <input type="hidden" value="{{ app.user }}">
                <div class="table-globale m-1 bg-darkin">
                    <div class="row">
                        <div class="col-4">
                            <div class="cercle-pourcentage bg-info">
                            <span class="{% if pourcentages[loop.index0] < 99 %}texte-pourcentage{% elseif pourcentages[loop.index0] > 99 %}texte-pourcentage-supp-100{% endif %}">
                                {{ pourcentages[loop.index0] }}%
                            </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="bg-primary rounded-recapitulatif">
                                <div class="text-center text-white text-uppercase">
                                        {{ biens[loop.index0].utilisateur }}
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-center">
                                <button type="button" class="btn btn-warning bmd-btn-fab">
                                    <i class="material-icons">warning</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-header col-6 offset-3">
                        <div class="table-header-name text-uppercase">
                            <div class="form-group">
                                {{ form_label(formulaire.children.nom) }}
                                {{ form_widget(formulaire.children.nom) }}
                            </div>
                        </div>
                        {% if chantier.type == "Terrasse" %}
                            <div class="table-header-superficie text-uppercase">
                                <div class="form-group">
                                    {{ form_label(formulaire.children.superficieTerrasse) }}
                                    {{ form_widget(formulaire.children.superficieTerrasse) }}
                                </div>
                            </div>
                        {% elseif chantier.type == "Parquet" %}
                            <div class="table-header-superficie text-uppercase">
                                <div class="form-group">
                                    {{ form_label(formulaire.children.superficieParquet) }}
                                    {{ form_widget(formulaire.children.superficieParquet) }}
                                </div>
                            </div>
                        {% elseif chantier.type == 'Terrasse / Parquet' %}
                            <div class="table-header-superficie text-uppercase">
                                <div class="form-group">
                                    {{ form_label(formulaire.children.superficieTerrasse) }}
                                    {{ form_widget(formulaire.children.superficieTerrasse) }}
                                </div>
                            </div>
                            <div class="table-header-superficie text-uppercase">
                                <div class="form-group">
                                    {{ form_label(formulaire.children.superficieParquet) }}
                                    {{ form_widget(formulaire.children.superficieParquet) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if chantier.type == 'Terrasse / Parquet' %}
                        <ul class="coloris" data-prototype="{{ form_widget(formulaire.colorisParquets.vars.prototype)|e('html_attr') }}">
                            <div class="row row-modifier">
                                {% for coloris in formulaire.colorisParquets %}
                                    <div class="col-6 border-right border-white rounded">
                                        <div class="js-delete-row">
                                            <div class="js-coloris-parquet-item">
                                                <a href="#" class="js-remove-coloris-parquet">
                                                    <i class="material-icons text-danger md-24">close</i>
                                                </a>
                                                <div class="form-group">
                                                    {{ form_label(coloris.nom) }}
                                                    {{ form_widget(coloris.nom) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(coloris.codeCouleur) }}
                                                    {{ form_widget(coloris.codeCouleur) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    {% endif %}
                    {% if chantier.type == "Parquet" %}
                        <ul class="coloris" data-prototype="{{ form_widget(formulaire.colorisParquets.vars.prototype)|e('html_attr') }}">
                            <div class="row row-modifier">
                                {% for coloris in formulaire.colorisParquets %}
                                    <div class="col-6 border-right border-white rounded">
                                        <div class="js-delete-row">
                                            <div class="js-coloris-parquet-item">
                                                <a href="#" class="js-remove-coloris-parquet">
                                                    <i class="material-icons text-danger md-24">close</i>
                                                </a>
                                                <div class="form-group">
                                                    {{ form_label(coloris.nom) }}
                                                    {{ form_widget(coloris.nom) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(coloris.codeCouleur) }}
                                                    {{ form_widget(coloris.codeCouleur) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    {% endif %}
                    <div class="separation"></div>
                    {% if chantier.type == "Terrasse" %}
                    {{ form_widget(formulaire.children.superficieParquet, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.preparationParquet, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.parquetParquet, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.plintheParquet, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.acryliqueParquet, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.seuilParquet, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.supplementParquets, {'type': 'hidden'}) }}
                    <div class="table-contenu mt-2">
                        <div class="row row-modifier">
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                {% if formulaire.children.cadreTerrasse.vars.value == 0 %}
                                    red
                                {% elseif formulaire.children.cadreTerrasse.vars.value == 1 %}
                                    yellow
                                {% elseif formulaire.children.cadreTerrasse.vars.value  == 2 %}
                                    green
                                {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                Cadre
                                            </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.cadreTerrasse, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                {% if formulaire.children.platelageTerrasse.vars.value == 0 %}
                                    red
                                {% elseif formulaire.children.platelageTerrasse.vars.value == 1 %}
                                    yellow
                                {% elseif formulaire.children.platelageTerrasse.vars.value  == 2 %}
                                    green
                                {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                Platelage
                                            </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.platelageTerrasse, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                {% if formulaire.children.vissageTerrasse.vars.value == 0 %}
                                    red
                                {% elseif formulaire.children.vissageTerrasse.vars.value == 1 %}
                                    yellow
                                {% elseif formulaire.children.vissageTerrasse.vars.value  == 2 %}
                                    green
                                {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                Vissage
                                            </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.vissageTerrasse, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for suppTerrasse in oneBien.supplementTerrasses %}
                                <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                    <div class="jquery
                                {% if formulaire.children.supplementTerrasses[loop.index0].etat.vars.value == 0 %}
                                    red
                                {% elseif formulaire.children.supplementTerrasses[loop.index0].etat.vars.value == 1 %}
                                    yellow
                                {% elseif formulaire.children.supplementTerrasses[loop.index0].etat.vars.value  == 2 %}
                                    green
                                {% endif %}">
                                        <div class="selecteur_couleur">
                                            <div class="dropdown">
                                                <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                            class="caret _right"></span>
                                                    <span class="propriete text-center font-weight-bold fz-07-rem">
                                                    {{ suppTerrasse.designation }}
                                                </span>
                                                </button>
                                                <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                    <li><span _text_display="0" class="color red"></span></li>
                                                    <li><span _text_display="1" class="color yellow"></span></li>
                                                    <li><span _text_display="2" class="color green"></span></li>
                                                    <input type="hidden" class="_color"/>
                                                </ul>
                                                {{ form_widget(formulaire.children.supplementTerrasses[loop.index0].etat, {'type': 'hidden'}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% elseif chantier.type == "Parquet" %}
                    {{ form_widget(formulaire.children.superficieTerrasse, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.cadreTerrasse, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.platelageTerrasse, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.vissageTerrasse, {'type': 'hidden'}) }}
                    {{ form_widget(formulaire.children.supplementTerrasses, {'type': 'hidden'}) }}
                    <div class="table-contenu mt-2">
                        <div class="row row-modifier">
{#                             Preparation parquet#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.preparationParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.preparationParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.preparationParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Preparation parquet" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Preparation
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.preparationParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                             Fin preparation parquet#}

{#                             Parquet Pose#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.parquetParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.parquetParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.parquetParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Parquet" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Parquet
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.parquetParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                             Fin parquet pose#}

{#                             Plinthe parquet#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.plintheParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.plintheParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.plintheParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Plinthe" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Plinthe
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.plintheParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                             Fin plinthe parquet#}

{#                             Acrylique parquet#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.acryliqueParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.acryliqueParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.acryliqueParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Acrylique" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Acrylique
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.acryliqueParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                             Fin acrylique parquet#}

{#                             seuilParquet#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.seuilParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.seuilParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.seuilParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Seuil"  class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                    Seuil
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.seuilParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                             Fin seuilParquet#}

                            {% for suppParquet in oneBien.supplementParquets %}
                                <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                    <div class="jquery
                                        {% if formulaire.children.supplementParquets[loop.index0].etat.vars.value == 0 %}
                                            red
                                        {% elseif formulaire.children.supplementParquets[loop.index0].etat.vars.value == 1 %}
                                            yellow
                                        {% elseif formulaire.children.supplementParquets[loop.index0].etat.vars.value  == 2 %}
                                            green
                                        {% endif %}">
                                        <div class="selecteur_couleur">
                                            <div class="dropdown">
                                                <button title="{{ suppParquet.designation }}" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                            class="caret _right"></span>
                                                    <div class="propriete text-center font-weight-bold fz-07-rem">
                                                        {{ suppParquet.designation }}
                                                    </div>
                                                </button>
                                                <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                    <li><span _text_display="0" class="color red"></span></li>
                                                    <li><span _text_display="1" class="color yellow"></span></li>
                                                    <li><span _text_display="2" class="color green"></span></li>
                                                    <input type="hidden" class="_color"/>
                                                </ul>
                                                {{ form_widget(formulaire.children.supplementParquets[loop.index0].etat, {'type': 'hidden'}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% elseif chantier.type == 'Terrasse / Parquet' %}
                    <div class="table-contenu mt-2">
                        <div class="row row-modifier">
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.cadreTerrasse.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.cadreTerrasse.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.cadreTerrasse.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                    Cadre
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.cadreTerrasse, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.platelageTerrasse.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.platelageTerrasse.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.platelageTerrasse.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                    Platelage
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.platelageTerrasse, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.vissageTerrasse.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.vissageTerrasse.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.vissageTerrasse.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                    Vissage
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.vissageTerrasse, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for suppTerrasse in oneBien.supplementTerrasses %}
                                <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                    <div class="jquery
                                        {% if formulaire.children.supplementTerrasses[loop.index0].etat.vars.value == 0 %}
                                            red
                                        {% elseif formulaire.children.supplementTerrasses[loop.index0].etat.vars.value == 1 %}
                                            yellow
                                        {% elseif formulaire.children.supplementTerrasses[loop.index0].etat.vars.value  == 2 %}
                                            green
                                        {% endif %}">
                                        <div class="selecteur_couleur">
                                            <div class="dropdown">
                                                <button class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                            class="caret _right"></span>
                                                    <span class="propriete text-center font-weight-bold fz-07-rem">
                                            {{ suppTerrasse.designation }}
                                        </span>
                                                </button>
                                                <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                    <li><span _text_display="0" class="color red"></span></li>
                                                    <li><span _text_display="1" class="color yellow"></span></li>
                                                    <li><span _text_display="2" class="color green"></span></li>
                                                    <input type="hidden" class="_color"/>
                                                </ul>
                                                {{ form_widget(formulaire.children.supplementTerrasses[loop.index0].etat, {'type': 'hidden'}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.preparationParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.preparationParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.preparationParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Preparation parquet" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Preparation
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.preparationParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                             Fin preparation parquet#}

                            {#                             Parquet Pose#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.parquetParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.parquetParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.parquetParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Parquet" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Parquet
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.parquetParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                             Fin parquet pose#}

                            {#                             Plinthe parquet#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.plintheParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.plintheParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.plintheParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Plinthe" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Plinthe
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.plintheParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                             Fin plinthe parquet#}

                            {#                             Acrylique parquet#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.acryliqueParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.acryliqueParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.acryliqueParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Acrylique" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                            Acrylique
                                        </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.acryliqueParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                             Fin acrylique parquet#}

                            {#                             seuilParquet#}
                            <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                <div class="jquery
                                    {% if formulaire.children.seuilParquet.vars.value == 0 %}
                                        red
                                    {% elseif formulaire.children.seuilParquet.vars.value == 1 %}
                                        yellow
                                    {% elseif formulaire.children.seuilParquet.vars.value  == 2 %}
                                        green
                                    {% endif %}">
                                    <div class="selecteur_couleur">
                                        <div class="dropdown">
                                            <button title="Seuil"  class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                        class="caret _right"></span>
                                                <span class="propriete text-center font-weight-bold fz-07-rem">
                                                    Seuil
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                <li><span _text_display="0" class="color red"></span></li>
                                                <li><span _text_display="1" class="color yellow"></span></li>
                                                <li><span _text_display="2" class="color green"></span></li>
                                                <input type="hidden" class="_color"/>
                                            </ul>
                                            {{ form_widget(formulaire.children.seuilParquet, {'type': 'hidden'}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#                             Fin seuilParquet#}

                            {% for suppParquet in oneBien.supplementParquets %}
                                <div class="col-4 col-lg-4 col-sm-3 col-xl-3 col-modifier">
                                    <div class="jquery
                                        {% if formulaire.children.supplementParquets[loop.index0].etat.vars.value == 0 %}
                                            red
                                        {% elseif formulaire.children.supplementParquets[loop.index0].etat.vars.value == 1 %}
                                            yellow
                                        {% elseif formulaire.children.supplementParquets[loop.index0].etat.vars.value  == 2 %}
                                            green
                                        {% endif %}">
                                        <div class="selecteur_couleur">
                                            <div class="dropdown">
                                                <button title="{{ suppParquet.designation }}" class="btn _select_color dropdown-toggle" type="button" id="dropdownMenu1"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                                            class="caret _right"></span>
                                                    <div class="propriete text-center font-weight-bold fz-07-rem">
                                                        {{ suppParquet.designation }}
                                                    </div>
                                                </button>
                                                <ul class="dropdown-menu _select_color_drop" aria-labelledby="dropdownMenu1">
                                                    <li><span _text_display="0" class="color red"></span></li>
                                                    <li><span _text_display="1" class="color yellow"></span></li>
                                                    <li><span _text_display="2" class="color green"></span></li>
                                                    <input type="hidden" class="_color"/>
                                                </ul>
                                                {{ form_widget(formulaire.children.supplementParquets[loop.index0].etat, {'type': 'hidden'}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row mt-5">
        <div class="col-12 col-sm-4 col-md-6 col-lg-4">
            <ul class="commentaires" data-prototype="{{ form_widget(form.commentaires.vars.prototype)|e('html_attr') }}">
                {% for com in form.commentaires %}
                    <div class="row js-genus-scientist-wrapper">
                        <div class="col-xs-4 js-genus-scientist-item">
                            <li>
                                <div class="card bg-darkin">
                                    <a href="#" class="js-remove-scientist delete">
                                        <i class="material-icons md-24">delete</i>
                                    </a>
                                    <div class="card-body text-white">
                                        <h5 class="card-title">Commentaires</h5>
                                        {{ form_label(com.commentaire) }}
                                        {{ form_widget(com.commentaire) }}
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <button class="btnScrollTotop btn btn-success btn-raised" type="submit">Valider les changements</button>
    {{ form_end(form) }}

    <ul class="list-unstyled mt-5">
        <li>
            <a class="link-unstyled" href="{{ path('chantier_index') }}">
                <button type="button" class="btn btn-info btn-lg active">
                    <i class="material-icons md-18 text-white">arrow_back</i>
                </button>
            </a>
        </li>
    </ul>

{% endblock %}

{% block modal %}
    {% include 'modal/ajout_coloris_global.html.twig' %}
    {% include 'modal/ajout_bien.html.twig' %}
    {% include 'modal/suppression_bien.html.twig' %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('Js/creation_bien.js') }}"></script>
    <script src="{{ asset('Js/chantier/color_choice.js') }}"></script>
    <script src="{{ asset('Js/ajax/chantier/color_add.js') }}"></script>
    <script src="{{ asset('Js/ajax/chantier/get_form_bien.js') }}"></script>
    <script src="{{ asset('Js/ajax/chantier/get_form_suppression_bien.js') }}"></script>
{% endblock %}
