{% extends 'base.html.twig' %}

{% block title %}
    Modification du mot de passe de {{ user }}
{% endblock %}

{% block body %}

<div class="row justify-content-center mt-5 text-white">
    <h1 class="text-center">Modification du mot de passe de {{ user }}</h1>
</div>

<div class="row mx-auto mt-2 text-white justify-content-center">
    {{ form_start(edit_form, {'attr': {'class': 'form-signin mt-5'}}) }}

    {% if not edit_form.children.plainPassword.first.vars.valid %}
        {% for error in edit_form.children.plainPassword.first.vars.errors %}
            <div class="text-center mb-7">
                <span class="mb-3 font-weight-normal text-danger ft-18">{{ error.message }}</span>
            </div>
        {% endfor %}
    {% endif %}


    <div class="group bmd-form-group">
        {{ form_label(edit_form.plainPassword.first) }}
        {{ form_widget(edit_form.plainPassword.first, {'attr': {'class': 'form-control text-white ft-24'}}) }}
    </div>
    <div class="group bmd-form-group">
        {{ form_label(edit_form.plainPassword.second) }}
        {{ form_widget(edit_form.plainPassword.second, {'attr': {'class': 'form-control text-white ft-24'}}) }}
    </div>
    <div class="form-grooup bdm-form-group mt-5">
        <button class="btn btn-lg btn-success btn-block active" type="submit" id="_submit" name="_submit">
            Modifier &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">done_all</i>
        </button>
    </div>
    {{ form_end(edit_form) }}
</div>


<ul class="list-unstyled mt-5">
    <li>
        <a class="link-unstyled" href="{{ path('user_index') }}">
            <button type="button" class="btn btn-info btn-lg active">
                <i class="material-icons md-24 text-white">arrow_back</i>
            </button>
        </a>
    </li>
</ul>
{% endblock %}
