{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/index.css') }}">
{% endblock %}

{% block body %}

    <div id="notif"></div>

    <div id="users-list" class="text-white text-center mt-5">
        <div class="row"> {# Row #}
            <div class="col">
                <span class="btn-group-lg">
                  <a href="{{ path('user_new') }}">
                      <button type="button" class="btn btn-secondary bmd-btn-fab" data-toggle="tooltip" data-placement="top" title="Ajouter un utilisateur">
                        <i class="material-icons">add circle</i>
                      </button>
                  </a>
                </span>
            </div>
            <div class="col-xl-4 col-sm-3 col-md-4 offset-xl-4 offset-sm-8 offset-md-4">
                <div class="bmd-form-group bmd-collapse-inline pull-sm-right">
                    <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
                        <i class="material-icons md-36" data-toggle="tooltip" data-placement="top" title="Recherchez un utilisateur">search</i>
                    </button>
                    <span id="collapse-search" class="collapse">
                        <input class="form-control text-white search ft-24 text-center" type="text" id="search" placeholder="Recherchez un utilisateur">
                    </span>
                </div>
            </div>
        </div> {# Row #}

        <div class="row mt-5 bg-secondary font-weight-bold text-uppercase"> {# Row #}
            <div class="col-xl-3 col-sm-3 d-none d-md-block">Nom</div>
            <div class="col-xl-2 col-sm-2 d-none d-md-block">Roles</div>
            <div class="col-xl-2 col-sm-2 d-none d-md-block">actif</div>
            <div class="col-xl-3 col-sm-3 d-none d-md-block">dernière connexion</div>
            <div class="col-xl-1 col-sm-1 d-none d-md-block"><i class="material-icons md-24 align-middle">edit</i></div>
            <div class="col-xl-1 col-sm-1 d-none d-md-block"><i class="material-icons md-24 align-middle">delete</i></div>
        </div> {# Row #}

        <div class="list">
            {% for user in users %}
                    <div class="row bg-secondary mt-2 hover-user">
                        <div class="col-xl-3 col-sm-3">
                            <p class="user-nom"><i class="material-icons d-block d-sm-none mx-auto">person</i>{{ user.username }}</p>
                        </div>
                        <div class="col-xl-2 col-sm-2"><p class="user-role"><i class="material-icons d-block d-sm-none mx-auto">verified_user</i>{{ user.firstRole(user) }}</p></div>
                        <div class="col-xl-2 col-sm-2 mt-2">
                            <div data-form="form-{{ user.id }}" data-now="{{ "now"|date("H:i") }}" data-url="{{ path('user_edit_ajax', {'id': user.id}) }}" data-user="{{ user.id }}" class="material-switch green {% if user.enabled == 1  %} active{% endif %}"></div>
                        </div>
                        <form id="form-{{ user.id }}" class="form-hidden">
                            <input type="hidden" class="user-input">
                            <input type="hidden" class="enabled-input">
                        </form>
                        <div class="col-xl-3 col-sm-3"><p><i class="material-icons d-block d-sm-none mx-auto">watch_later</i>{{ user.lastLogin|date('d/m/Y H:i') }}</p></div>
                        <a class="link-unstyled col-xl-1 col-sm-1" href="{{ path('user_edit', { 'id': user.id }) }}">
                            <p><i class="material-icons mx-auto">settings</i></p>
                        </a>
                        <div class="col-xl-1 col-sm-1 deleting-btn" data-toggle="modal" data-user="{{ user.username }}" data-route="{{ path('user_delete', {'id': user.id }) }}" data-target="#exampleModalCenter"><p><i class="material-icons mx-auto">delete_outline</i></p></div>
                    </div>
            {% endfor %}
        </div>
        <div class="row mt-5 justify-content-center">
            <ul class="pagination"></ul>
        </div>
    </div>

{% endblock %}

{% block modal %}{% include('modal/delete_user.html.twig') %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/list.js/dist/list.js') }}"></script>
    <script src="{{ asset('Js/user/index.js') }}"></script>
{% endblock %}