{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajout d'un utilisateur</h1>

    {{ form_start(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.roles) }}
        <input type="submit" value="créer">
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}