{% trans_default_domain 'FOSUserBundle' %}

<div class="row mx-auto mt-5 text-white">
        <form class="form-signin mt-5" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="text-center mb-7">
                {% if error %}
                    <span class="mb-3 font-weight-normal text-danger ft-18">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                {% endif %}
            </div>

            <div class="form-group bmd-form-group">
                <label for="inputUsername" class="bmd-label-floating text-light ft-24">{{ 'security.login.username'|trans }}</label>
                <input type="text" class="form-control text-white ft-24" id="inputUsername" name="_username" value="{{ last_username }}" required autofocus/>
            </div>

            <div class="form-group bmd-form-group">
                <label class="bmd-label-floating text-light ft-24" for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" class="form-control text-white ft-24" required />
            </div>

            <div class="checkbox mb-3">
                <label class="text-light" for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> Se souvenir de moi
                </label>
            </div>
            <button class="btn btn-lg btn-success btn-block active" type="submit" id="_submit" name="_submit">
                {{ 'security.login.submit'|trans }} &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="material-icons">done_all</i>
            </button>
        </form>
    </div>