{% extends 'base.html.twig' %}

{% block body %}
    <h1>Colorisparquet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ colorisParquet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ colorisParquet.nom }}</td>
            </tr>
            <tr>
                <th>Codecouleur</th>
                <td>{{ colorisParquet.codeCouleur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('colorisparquet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('colorisparquet_edit', { 'id': colorisParquet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
