{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supplementterrasse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplementTerrasse.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ supplementTerrasse.designation }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ supplementTerrasse.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('supplementterrasse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('supplementterrasse_edit', { 'id': supplementTerrasse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
